:root{ --cols: 10; }

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

body {
    font-family: "GMarketSans", sans-serif;
    background-color: #2e2e2e;
    color: white;
    text-align: center;
}

.button-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    gap: 24px;
}

button {
    font-family: "GMarketSans", sans-serif;
    font-size: 120%;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: white;
    background-color: #2e2e2e;
    color: white;
    min-width: 16vw;
    height: 7vh;
    cursor: pointer;
}

@media (max-width: 600px) {
    button {
        font-size: 120%;
        min-width: 80%;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 10px;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.cell {
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}

.cell img{
    display: block;
    width: 100%;
    height: auto;
    transform-origin: center center;
    transition: transform 180ms cubic-bezier(.2,.9,.2,1);
    touch-action: manipulation;
    cursor: pointer;
}

.cell img:hover {
    transform: scale(1.2);
    position: relative;
    z-index: 10;
}

@media (max-width: 600px) {
    :root{ --cols: 3;}
}

.link-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    gap: 24px;
}

.link-container a {
    display: block;
    width: 100%;
    margin: 4px 0;
}

details {
    width: 100%;
}

a:link {
    color: aqua;
}

a:active {
    color: firebrick;
}

a:visited {
    color: lightblue;
}

summary {
    cursor: pointer;
}