:root{ --cols: 10; }

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

body {
    font-family: "GMarketSans", sans-serif;
}

main {padding:20px;}
.grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 10px;
}

.cell {
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}

.cell img{
    display: block;
    width: 100%;
    height: auto;
    transform-origin: center center;
    transition: transform 180ms cubic-bezier(.2,.9,.2,1);
    touch-action: manipulation;
    cursor: pointer;
}

.cell img:hover {
    transform: scale(1.2);
    position: relative;
    z-index: 10;
}

@media (max-width: 600px) {
    :root{ --cols: 3;}
}