<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <script src="../static/scripts.js"></script>
    <title>{{ title }}</title>
</head>
<body>
    <!-- 디시콘 한글명 및 영문명 -->
    <h1>{{ kor_name }}</h1>
    <h3>{{ eng_name }}</h3>

    <!-- 디시콘 미리보기 -->
    <div class="grid" id="grid">
        {% for img in images %}
        <div class="cell">
            <img src="{{ img }}" alt="{{ kor_name }} - 이미지"   draggable="false">
        </div>
        {% endfor %}
    </div>

    <!-- 홈으로 이동하는 버튼 -->
    <button onclick="location.href='/'">홈으로</button>
</body>
</html>