<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <script src="../static/scripts.js"></script>
    <title>라라100개 미리보기 - {% block title %}</title>
</head>
<body>
    <!-- 디시콘 한글명 및 영문명 -->
    <h1>{% block kor_name %}</h1>
    <h3>{% block eng_name %}</h3>

    <!-- 디시콘 미리보기 -->
    <div id="image-gallery"></div>
</body>
</html>