<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/scripts.js"></script>
    <title>라라100개 미리보기</title>
</head>
<body>
    <!-- 제목 및 설명 -->
    <h1>라라100개 미리보기</h1>
    <h3>아래 버튼을 눌러 라라100개 디시콘 시리즈를 구경해보세요!</h3>

    <!-- 버튼 목록 -->
    <div class="button-container">
        <button onclick="location.href='/rara100'">라라100개</button>
        <button onclick="location.href='/rara100+a'">라라100개 플러스 알파</button>
        <button onclick="location.href='/rara100+b'">라라100개 플러스 베타</button>
        <button onclick="location.href='/rara100+r'">라라100개 플러스 감마</button>
    </div>

    <!-- 관련 링크들 -->
    <div class="link-container">
        <details>
            <summary>관련 링크들</summary>
            <a href="http://stellasora.kr" target="_blank" rel="noopener noreferrer">스텔라 소라 공식 홈페이지</a>
            <a href="https://gall.dcinside.com/mgallery/board/lists?id=stellasora" target="_blank" rel="noopener noreferrer">디시인사이드 스텔라 소라 마이너 갤러리</a>
            <a href="http://arca.live/b/stellasora" target="_blank" rel="noopener noreferrer">아카라이브 스텔라 소라 채널</a>
            <a href="http://github.com/Imurlovco/rara100Preview" target="_blank" rel="noopener noreferrer">라라100개 미리보기 Github 리포지토리</a>
        </details>
    </div>
</body>
</html>